@model DeliFood.Models.Product

@{ ViewData["Title"] = "Edit"; }
<style>
    .display_imageEdit {
        width: 268px;
        height: 211px;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
    }
</style>
<div class="page-header">
    <h2 class="header-title">PRODUCT</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-controller="product" asp-action="Index" class="breadcrumb-item">List product</a>
            <span class="breadcrumb-item active">Edit</span>
        </nav>
    </div>
</div>

<div class="card p-3">
    <div class="row">
        <div class="col-md-10">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <select asp-for="CatId" class="form-control" asp-items="ViewBag.lsCat"></select>
                            <span asp-validation-for="CatId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Quantity</label>
                            <input asp-for="UnitInStock" class="form-control" />
                            <span asp-validation-for="UnitInStock" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-secondary" />
                        </div>
                    </div>
                    <div class="col-md-4 offset-2">
                        <label class="control-label">Image</label>
                        <div class="card" style="max-width: 270px">
                            <img src="~/images/product/@Model.Image" id="image_tag" width="270" />

                            <div class="" id="display_imageEdit">

                            </div>
                            <div class="card-body">
                                <div class="custom-file">
                                    <input type="file" asp-for="UpdateImage" class="custom-file-input" id="image_inputEdit" accept="image/png, image/jpg">
                                    <label class="custom-file-label" id="image_linkEdit" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    const image_input = document.querySelector("#image_inputEdit");
    var upload_image = "";
    $('#image_inputEdit').change(function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            upload_image = reader.result;
            document.querySelector('#display_imageEdit').style.backgroundImage = `url(${upload_image})`;
        });
        reader.readAsDataURL(this.files[0]);
        $('#image_linkEdit').text(this.files[0].name);
        document.getElementById("image_tag").style.display = 'none';
        $('#display_imageEdit').addClass("display_imageEdit");
    })
</script>
}
