@model DeliFood.Models.AccountVM


<div class="account-page-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Account Details</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                    <div class="tab-pane fade show active" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                        <div class="myaccount-details">
                            <form asp-action="ChangePassword" method="post" class="myaccount-form">
                                <input type="hidden" value="@Model.AccountId" asp-for="AccountId" />
                                <input type="hidden" value="@Model.Email" asp-for="Email" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="myaccount-form-inner">
                                    <div class="single-input single-input-half">
                                        <label>Username</label>
                                        <input type="text" value="@Model.Email" disabled>
                                    </div>
                                    <div class="single-input single-input-half">
                                        <label>Password</label>
                                        <input type="password" asp-for="Pass">
                                        <span class="text-danger" asp-validation-for="Pass"></span>
                                    </div>
                                    <div class="single-input single-input-half">
                                        <label>Re-Password</label>
                                        <input type="password" asp-for="Repass">
                                        <span class="text-danger" asp-validation-for="Repass"></span>
                                    </div>

                                    <div class="single-input">
                                        <input class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit" value="Save changes" />

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
