@model IEnumerable<DeliFood.Models.CartItem>
<div class="cart-area section-space-y-axis-100">
    <div class="container">
        <div class="row" id="gridViewCartDetails">
            
        </div>
    </div>
</div>
@section Scripts{
    <script>
        loadCartDetails();
    </script>
} 